.login-container {
    margin: auto;
    box-shadow: 5px 2px 5px 2px rgb(0,0,0,0.6);
  }
  
.img{
    width:100px;
    display:flex;
    margin:auto;
    padding:50px 0 0 ;
}
.wrapper{
    display:flex;
    flex-direction: column;
    flex: 1;
    padding:25px 35px;
}
.wrapper .login-btn{
    margin-top:22px;
    text-transform: none;
    background-color: #fb641b;
    height:40px;
    border-radius: 2px;

}
.wrapper .login-btn:hover {
    background-color: #fc9460; 
  }
.wrapper .signup-btn {
    background-color:white;
    padding: 7px 15px;
    border: none;
    border-radius:2px;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2); 
    text-transform: none;
  }
  
 .wrapper .signup-btn:hover {
    background-color: #e1dcdc; 
  }
