.container {
    width: 400px;
    margin: auto;
    box-shadow: 5px 2px 5px 2px rgb(0,0,0,0.6);
  }
  
.img{
    width:100px;
    display:flex;
    margin:auto;
    padding:50px 0 0 ;
}
.wrapper{
    display:flex;
    flex-direction: column;
    flex: 1;
    padding:25px 35px;
}
.wrapper .btn{
    margin-top:20px;
}
  